._*
.DS_Store
node_modules
.idea
cache
dev/islamica.org/index.html
dev/islamica.org/assets/l10n/*
build/config.gypi
data/site-stats.json
dev/islamica.org/assets/css/sprite.css
dev/islamica.org/assets/css/style.css
dev/islamica.org/assets/img/sprite-*
dev/islamica.org/assets/img/sprite-*
dev/islamica.org/assets/rev-manifest.json
