/* ::: Central Features ::: */

/* Section containing the top 10 Wikis and the Wikipedia logo */

.central-featured {
	width: 56rem;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

.central-featured-lang {
	display: inline-block;
	width: 14rem;
    border-radius: 36px;
    margin-bottom: 1.3rem;
    margin-right: 1.1rem;
    margin-left: 1.1rem;
    box-shadow: 0 0 15px 0 rgba( 0, 0, 0, 0.05 );
    padding-top: 13px;
    padding-bottom: 13px;
}

.central-featured-lang a {
	font-family: 'Myriad Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Lato, Helvetica, Arial, sans-serif;
	color: #000;
}

/* Make entire block clickable, surpress hover underline */
.central-featured-lang .link-box {
	display: block;
	padding: 0;
	text-decoration: none;
	white-space: normal;
}

/* Restore underline on main label */
.central-featured-lang .link-box:hover strong {
	text-decoration: underline;
}

.central-featured-lang strong {
	display: block;
	font-size: 1.6rem;
}

.central-featured-lang small {
	color: var( --wmui-color-base20 );
	display: inline-block;
	font-size: 1.3rem;
	line-height: 1.6;
}

.central-featured-lang em {
	font-style: italic;
}

.central-featured-lang .emNonItalicLang {
	font-style: normal;
}

@media all and ( max-width: 480px ) {
	.central-featured:after {
		content: ' ';
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
		font-size: 0;
	}

	.central-featured-lang {
		display: inline-block;
		box-sizing: border-box;
		width: calc( 33% - 1.4rem );
		margin-bottom: 1.3rem;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
		font-size: 1.4rem;
	}

	.central-featured-lang strong {
		font-size: 1.4rem;
		margin-bottom: 4px;
	}

	.central-featured-lang small {
		line-height: 1.4;
	}
}

@media all and ( max-width: 375px ) {
	.central-featured-lang {
		font-size: 1.3rem;
	}
}

@media all and ( max-width: 240px ) {
	.central-featured-lang {
		width: 100%;
	}
}
