/* ::: Central Logo ::: */

/* Section containing the central Wikipedia header */

.central-textlogo-wrapper {
	display: block;
}

.central-textlogo-title {
	font-size: 8.75rem;
	font-family: var( --font-family-serif );
	color: #ccc;
}

.central-textlogo {
	position: relative;
	width: 100%;
	font-family: 'Linux Libertine', 'Hoefler Text', Georgia, 'Times New Roman', Times, serif;
	font-size: 3rem;
	font-weight: normal;
	line-height: 3.3rem;
	/* Crossed W in Linux Libertine */
	-moz-font-feature-settings: "ss05=1";
	-moz-font-feature-settings: "ss05";
	-webkit-font-feature-settings: "ss05";
	-ms-font-feature-settings: "ss05";
	font-feature-settings: "ss05";
}

.localized-slogan {
	display: block;
	font-family: var( --font-family-serif );
	font-size: 3.05rem;
	color: #ccc;
	font-weight: normal;
	margin-top: 2.5rem;
}

.central-textlogo__image {
	color: transparent;
	display: inline-block;
	overflow: hidden;
	text-indent: -10000px;
}

.central-featured-logo {
	margin-top: 3.3rem;
	margin-left: 4.8rem;
}

@media all and ( max-width: 480px ) {
	.central-textlogo {
		position: relative;
		height: 70px;
		width: auto;
		margin: 0;
		margin-top: 2rem;
		text-align: center;
		/* visual vertical alignment in an rtl compat way */
		line-height: 2.5rem;
		/* visual horizontal alignment in an rtl compat way */
		text-indent: -1rem;
	}

	.central-textlogo-wrapper {
		position: relative;
		/* visual alignment */
		top: 12px;
		/* visual horizontal alignment in an rtl compat way */
		text-indent: 0.2rem;
		display: inline-block;
		margin-top: 0;
	}

	.central-textlogo-title {
		font-size: 3.2rem;
	}

	.svg-Wikipedia_wordmark {
		/* modifying svg sprite size to shrink logo */
		width: 150px;
		height: 25px;
		background-position: 0 -218px;
		background-size: 100%;
	}

	.localized-slogan {
		font-size: 1.4rem;
		margin-top: 0;
	}

	.central-featured-logo {
		width: 57px;
		height: auto;
		margin: 0;
	}
}

@media all and ( max-width: 240px ) {
	.central-textlogo__image {
		height: auto;
	}
}
