<div class="footer" data-el-section="other projects">
    <div class="footer-content">
        <div class='trs-info-wrapper'>
            <img src="assets/img/trs-logo-copy.png" srcset="assets/img/trs-logo-copy@2x.png 2x, assets/img/trs-logo-copy@3x.png 3x">
            <span class='trs-info'>
                Islamica is hosted by the TRS, a non-profit organization that also hosts a range of other projects.
            </span>
        </div>
        <div class='other-projects'>
            <img src="assets/img/quran-hero-icon.png" srcset="assets/img/quran-hero-icon@2x.png 2x, assets/img/quran-hero-icon@3x.png 3x" alt="Quran Hero">
            <img src="assets/img/moonsighting-icon.png" srcset="assets/img/moonsighting-icon@2x.png 2x, assets/img/moonsighting-icon@3x.png 3x" alt="Luna See">
            <img src="assets/img/bottom-icon-3.png" srcset="assets/img/bottom-icon-3@2x.png 2x, assets/img/bottom-icon-3@3x.png 3x" class="Bottom-Icon-3">
        </div>
    </div>
</div>
