<div class="central-textlogo" style="font-size: 1em;">
    <img class="central-featured-logo" src="assets/img/logo.svg" alt="Islamica">
    <h1 class="central-textlogo-wrapper">
        <span class="central-textlogo-title">
            Islamica
        </span>
        <strong class="jsl10n localized-slogan" data-jsl10n="slogan" >The Islamic Encyclopedia</strong>
    </h1>
</div>
