<div class="central-textlogo" style="font-size: 1em;">
    <img class="central-featured-logo" src="assets/img/Wikipedia-logo-v2.png" srcset="assets/img/Wikipedia-logo-v2@1.5x.png 1.5x, assets/img/Wikipedia-logo-v2@2x.png 2x" width="200" height="183" alt="Wikipedia">
    <h1 class="central-textlogo-wrapper">
        <span>
            Islamica
        </span>
        <strong class="jsl10n localized-slogan" data-jsl10n="slogan" >An online Islamic encyclopedia</strong>
    </h1>
</div>
